.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  margin: auto auto auto auto;
}

.form-group {
  margin: 0px auto 0px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-toggle-group {
  margin: 0px auto 0px auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.form-header {
  text-align: center;
}

.auth-illustration {
  width: 1000px;
}

input,
textarea,
dropdown {
  border-radius: 10px;
  height: 30px;
  border-color: transparent;
  margin: 1rem;
  width: 100%;
  z-index: 1;
}

input[type="checkbox"] {
  display: none;
}

textarea {
  height: 100px;
}

.btn-form {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.toggle-switch::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
  opacity: 0.5;
}

input:checked + .toggle-switch::after {
  transform: translateX(26px);
  opacity: 1;
}
