:root {
  --gray-color: #aaa9b0;
  --secondary-color: #3a374d;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.flex-row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.flex-column {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  margin: 0px auto 0px auto;
}

html,
body {
  background: #1d1c23;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

html {
  padding: 0px 6rem 0px 6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.btn {
  all: unset;
  cursor: pointer;
  border-radius: 10px;
}

.btn:disabled {
  opacity: 0.5;
}

.btn-primary {
  padding: 1.5rem;
  background-color: orange;
  color: white;
  font-size: 2rem;
  width: 50%;
  margin: 1rem auto 1rem auto;
  text-align: center;
}

.btn-secondary {
  background-color: orange;
  color: white;
  font-size: 1.5rem;
  width: 50%;
  margin: 2rem auto 2rem 0rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.nav-link {
  all: unset;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

.secondary-link {
  all: unset;
  cursor: pointer;
  color: var(--gray-color);
  font-size: 1.5rem;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header {
  width: 100%;
}

.label-text {
  display: none;
}

.error {
  color: #862627;
  background: #ecc8c5;
  padding: 1rem;
  border-radius: 10px;
}

p {
  color: var(--gray-color);
}

.link {
  color: white;
}

.center-text {
  margin: 0px auto 0px auto;
}

.active {
  font-weight: bold;
}

.dropdown {
  color: white;
  border-radius: 10px;
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 10rem;
  position: relative;
}

.filter-panel {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.select-button {
  background: var(--secondary-color);
  color: white;
  width: 10rem;
  text-align: left;
  font-size: 1rem;
  align-items: center;
  display: flex;
}

.sub-dropdown {
  position: absolute;
  z-index: 1;
  left: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.service-item-h1 {
  font-size: 2rem;
  margin: 0rem;
}

.service-item-h3 {
  font-size: 1.5rem;
  color: var(--gray-color);
  margin: 0rem;
}

.date {
  color: var(--gray-color);
  margin-left: auto;
  text-align: right;
}

.text-center {
  width: 70%;
  margin: 0px auto 0px auto;
}

.service-item-p {
  margin: 0.2rem 0rem 0.2rem 0rem;
}

.container {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 1rem;
}

.p-bottom-3 {
  padding: 0rem 0rem 1rem 0rem;
}

.icon {
  color: white;
  font-size: 1.5rem;
}
