.d-flex {
  display: flex;
}

.w-100{
  width: 100%;
}

.flex{
  height: 100%;
  width: 100%;
  display: flex;
}

.hero-section {
  justify-content: space-around;
  align-items: center;
  display: flex;
  min-height: 100%;
}

.vertical-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    margin: 0px auto 0px auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  margin: auto auto auto auto;
}

html, body {
  background: #1d1c23;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

h1, h2, h3, h4, h5, h6{
    color: white;
}

:root {
  --gray-color: #aaa9b0;
}

.hero-title{
    font-size: 90px;
    margin: 0px;
}

.hero-text {
    font-size: 30px;
    color: var(--gray-color);
    margin-bottom: 50px;
}

.btn{
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
}

.btn:disabled{
    opacity: 0.5;
}

.btn-primary{
    background-color: orange;
    color: white;
    font-size: 30px;
    width: 50%;
    margin: 10px auto 10px auto;
}

.btn-form{
    padding: 5px 20px 5px 20px;
}

.btn-secondary{

}

.nav-link{
    all: unset;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header{
    position: absolute;
    width: 100%;
}

.label-text{
    display: none;
}

.form-group{
    margin: 0px auto 0px auto;
}

.form-header{
    text-align: center;
}

.error {
  color: #862627;
  background: #ecc8c5;
  padding: 10px;
  border-radius: 10px;
}

.auth-illustration{
    width: 1000px;
}

input{
    border-radius: 10px;
    height: 30px;
    border-color: transparent;
    margin: 12px;
}

p {
  color: var(--gray-color);
}

.link{
    color: white;
}

.center-text{
    margin: 0px auto 0px auto;
}
