<ng-container *ngIf="service$ | async as service">
  <div class="service-item-flex-row container">
    <div>
      <h6 class="service-item-h1">{{ service.name }}</h6>
      <h6 class="service-item-h3">
        {{ service.price }} {{ "SERVICE_ITEM.CREDITS" | translate }}
      </h6>
    </div>
    <div class="left-container">
      <h6 class="service-item-h3">
        {{ "SERVICE_ITEM.CREATED" | translate }}
        {{
          service.creationDateTime
            | date: "mediumDate" : "" : translate.currentLang || "en"
        }}
      </h6>
      <h6 class="service-item-h1">
        {{ service.applicationUserName }}
      </h6>
      <a
        routerLink="/chats"
        [queryParams]="{ serviceId: service.id }"
        class="btn btn-secondary"
      >
        {{ "SERVICE_ITEM.START_CHAT" | translate }}
      </a>
    </div>
  </div>
</ng-container>
