<table>
  <thead>
    <tr>
      <th>{{ "USERS.TABLE.FULL_NAME" | translate }}</th>
      <th>{{ "USERS.TABLE.EMAIL" | translate }}</th>
      <th>{{ "USERS.TABLE.LOCATION" | translate }}</th>
      <th>{{ "USERS.TABLE.CREDITS" | translate }}</th>
      <th>{{ "USERS.TABLE.ROLE" | translate }}</th>
      <th>{{ "USERS.TABLE.STATUS" | translate }}</th>
      <th>{{ "USERS.TABLE.ACTIONS" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td>{{ user.fullname }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.cityName }}, {{ user.countryName }}</td>
      <td>{{ user.creditCount }}</td>
      <td>{{ user.roleName }}</td>
      <td>
        <span [class.status-banned]="user.isBanned">
          {{ user.isBanned ? "Banned" : "Active" }}
        </span>
      </td>
      <td>
        <button
          *ngIf="!user.isBanned"
          (click)="banUser(user.id)"
          class="btn btn-ban"
        >
          Ban
        </button>
        <button
          *ngIf="user.isBanned"
          (click)="unbanUser(user.id)"
          class="btn btn-unban"
        >
          Unban
        </button>
      </td>
    </tr>
  </tbody>
</table>
