<form [formGroup]="formGroup" class="filter-panel">
  <dropdown
    formControlName="selectedSubcategory"
    [loadData]="loadCategories"
    [loadSubData]="loadSubcategories"
  ></dropdown>
  <dropdown
    formControlName="selectedCity"
    [loadData]="loadCountries"
    [loadSubData]="loadCities"
  ></dropdown>
</form>
<a
  class="service-item"
  *ngFor="let service of services$ | async"
  routerLink="/service"
  [queryParams]="{ serviceId: service.id }"
>
  <service-item [service]="service"></service-item>
</a>
