.messages-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem 1rem 0rem;
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 1rem;
  color-scheme: dark;
}

.input-message {
  width: 100%;
  border-radius: 10px;
  align-items: center;
  margin: auto 0px auto 0px;
  padding: 0.75rem 1rem;
}

.create-message-container {
  display: flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.last-message {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5rem;
}

.selected-chat {
  background-color: var(--secondary-color);
  border-left: 5px solid orange;
  border-radius: 10px;
  padding: 1rem;
}

.message {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
}

.message-text {
  color: white;
  margin-right: auto;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 5rem;
}
