<div class="chat-container">
  <form [formGroup]="filterChatGroup">
    <input type="radio" formControlName="chatType" value="received" />
    <input type="radio" formControlName="chatType" value="provided" />
  </form>
  <div
    *ngFor="let chat of chatListItems | async"
    class="chat-item"
    (click)="selectChat(chat.id)"
    [class.selected-chat]="
      chat.id === (chatModel | async)?.applicationUserServiceId
    "
  >
    <h3>{{ chat.fullName }}</h3>
    <div class="flex-row">
      <p class="last-message">{{ chat.lastMessageText }}</p>
      <p class="date">{{ chat.lastMessageDateTime | date: "HH:mm" }}</p>
    </div>
  </div>
</div>
<div *ngIf="chatModel | async as chat" class="flex-column">
  <h1>{{ chat.fullName }}</h1>
  <a
    routerLink="/service"
    [queryParams]="{ serviceId: chat.serviceId }"
    class="secondary-link"
    >{{ chat.serviceName }}</a
  >
  <div class="messages-container" #messagesContainer>
    <div *ngFor="let message of chat.messages" class="message">
      <p class="message-text">{{ message.text }}</p>
      <p class="date">{{ message.creationDateTime | date: "HH:mm" }}</p>
    </div>
  </div>

  <form
    [formGroup]="createMessageGroup"
    (ngSubmit)="createMessage()"
    class="create-message-container"
  >
    <textarea
      id="text"
      formControlName="text"
      placeholder="Write a message..."
      class="input-message"
      (keydown.enter)="onEnter($event)"
    ></textarea>
    <button type="submit" class="btn">
      <i class="fa fa-paper-plane icon"></i>
    </button>
  </form>
</div>
