<img src="assets/images/register-image.png" class="auth-illustration" />

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container">
  <h2 class="form-header">{{ "AUTH.REGISTER.TITLE" | translate }}</h2>

  <div class="form-group">
    <label for="name" class="label-text">{{
      "AUTH.FIELDS.NAME" | translate
    }}</label>
    <input
      id="name"
      type="text"
      formControlName="name"
      [placeholder]="'AUTH.FIELDS.NAME' | translate"
    />
    <div *ngIf="f['name'].invalid && f['name'].touched" class="error">
      {{ "AUTH.ERRORS.NAME_REQUIRED" | translate }}
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="label-text">{{
      "AUTH.FIELDS.EMAIL" | translate
    }}</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      [placeholder]="'AUTH.FIELDS.EMAIL' | translate"
    />
    <div *ngIf="f['email'].invalid && f['email'].touched" class="error">
      {{ "AUTH.ERRORS.EMAIL_REQUIRED" | translate }}
    </div>
  </div>

  <div class="form-group">
    <label for="password" class="label-text">{{
      "AUTH.FIELDS.PASSWORD" | translate
    }}</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      [placeholder]="'AUTH.FIELDS.PASSWORD' | translate"
    />
    <div *ngIf="f['password'].invalid && f['password'].touched" class="error">
      {{ "AUTH.ERRORS.PASSWORD_REQUIRED" | translate }}
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword" class="label-text">{{
      "AUTH.FIELDS.CONFIRM_PASSWORD" | translate
    }}</label>
    <input
      id="confirmPassword"
      type="password"
      formControlName="confirmPassword"
      [placeholder]="'AUTH.FIELDS.CONFIRM_PASSWORD' | translate"
    />
    <div
      *ngIf="f['confirmPassword'].invalid && f['confirmPassword'].touched"
      class="error"
    >
      {{ "AUTH.ERRORS.CONFIRM_PASSWORD_REQUIRED" | translate }}
    </div>
  </div>

  <button
    class="btn btn-primary btn-form"
    type="submit"
    [disabled]="registerForm.invalid"
  >
    {{ "AUTH.REGISTER.SUBMIT" | translate }}
  </button>

  <p class="center-text">
    {{ "AUTH.REGISTER.ALREADY_HAVE" | translate }}
    <span>
      <a routerLink="/login" class="link">
        {{ "AUTH.REGISTER.SIGN_IN" | translate }}
      </a>
    </span>
  </p>

  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
</form>
