<ng-container *ngIf="climate$ | async as climate">
  <div class="climate">
    <h2>
      {{ "CLIMATE.TEMPERATURE.CURRENT" | translate }}:
      {{ climate.currentTemperature }}
    </h2>
    <p>
      {{ "CLIMATE.TEMPERATURE.AVG_DAY" | translate }}:
      {{ climate.avgTemperatureForDay }}
    </p>
    <p>
      {{ "CLIMATE.TEMPERATURE.AVG_WEEK" | translate }}:
      {{ climate.avgTemperatureForWeek }}
    </p>
    <p>
      {{ "CLIMATE.TEMPERATURE.AVG_MONTH" | translate }}:
      {{ climate.avgTemperatureForMonth }}
    </p>
  </div>

  <div class="climate">
    <h2>
      {{ "CLIMATE.HUMIDITY.CURRENT" | translate }}:
      {{ climate.currentHumidity }}
    </h2>
    <p>
      {{ "CLIMATE.HUMIDITY.AVG_DAY" | translate }}:
      {{ climate.avgHumidityForDay }}
    </p>
    <p>
      {{ "CLIMATE.HUMIDITY.AVG_WEEK" | translate }}:
      {{ climate.avgHumidityForWeek }}
    </p>
    <p>
      {{ "CLIMATE.HUMIDITY.AVG_MONTH" | translate }}:
      {{ climate.avgHumidityForMonth }}
    </p>
  </div>
</ng-container>
