<form
  [formGroup]="confirmEmailForm"
  (ngSubmit)="onSubmit()"
  class="form-container"
>
  <h2 class="form-header">{{ "AUTH.CONFIRM.TITLE" | translate }}</h2>
  <div class="form-group">
    <label for="code" class="label-text">{{
      "AUTH.FIELDS.CODE" | translate
    }}</label>
    <input
      id="code"
      type="text"
      formControlName="code"
      [placeholder]="'AUTH.FIELDS.CODE' | translate"
    />
    <div *ngIf="f['code'].invalid && f['code'].touched" class="error">
      {{ "AUTH.ERRORS.CODE_REQUIRED" | translate }}
    </div>
  </div>

  <button
    class="btn btn-primary btn-form"
    type="submit"
    [disabled]="confirmEmailForm.invalid"
  >
    {{ "AUTH.CONFIRM.SUBMIT" | translate }}
  </button>
</form>
