.service-item-flex-row {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem 1rem 0rem;
  align-items: center;
}

.left-container {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
}
