<div class="service-item" (click)="navigateToService()">
  <div class="service-item-main">
    <h6 class="service-item-h1">{{ service.name }}</h6>
    <p class="service-item-h3">
      {{ service.price }} {{ "SERVICE_ITEM.CREDITS" | translate }}
    </p>
  </div>
  <div class="editable" *ngIf="editable">
    <a
      class="btn btn-secondary"
      routerLink="/edit-service"
      [queryParams]="{ serviceId: service.id }"
      (click)="$event.stopPropagation()"
    >
      {{ "SERVICE_ITEM.EDIT" | translate }}
    </a>
    <button
      class="btn btn-danger"
      (click)="deleteService(); $event.stopPropagation()"
    >
      {{ "SERVICE_ITEM.DELETE" | translate }}
    </button>
  </div>
</div>
