<header [ngClass]="router.url === '/' ? 'home-header' : ''">
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Tradio</a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a
          class="nav-link"
          routerLink="/services"
          routerLinkActive="active"
          [title]="'HEADER.SERVICES' | translate"
        >
          <i class="fa fa-th-large"></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a
          class="nav-link"
          routerLink="/chats"
          routerLinkActive="active"
          [title]="'HEADER.CHATS' | translate"
        >
          <i class="fa fa-comments"></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a
          class="nav-link"
          routerLink="/my-services"
          routerLinkActive="active"
          [title]="'HEADER.MY_SERVICES' | translate"
        >
          <i class="fa fa-user"></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a
          class="nav-link"
          routerLink="/create-service"
          routerLinkActive="active"
          [title]="'HEADER.CREATE' | translate"
        >
          <i class="fa fa-plus-circle"></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a
          class="nav-link"
          routerLink="/climates"
          routerLinkActive="active"
          [title]="'HEADER.CLIMATES' | translate"
        >
          <i class="fa fa-thermometer-half"></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a
          class="nav-link"
          routerLink="/payments"
          routerLinkActive="active"
          [title]="'HEADER.PAYMENTS' | translate"
        >
          <i class="fa fa-rotate"></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="userModel$ | async as userModel">
        <div *ngIf="authService.isLoggedIn && userModel.roleName === 'Admin'">
          <a
            class="nav-link"
            routerLink="/users"
            routerLinkActive="active"
            [title]="'HEADER.USERS' | translate"
          >
            <i class="fa fa-users"></i>
          </a>
        </div>
      </li>

      <div *ngIf="userModel$ | async as userModel">
        <li class="nav-item">
          {{ userModel.creditCount }} <i class="fa fa-coins"></i>
        </li>
      </div>

      <div *ngIf="userModel$ | async as userModel">
        <li class="nav-item">
          {{ userModel.fullname }}
        </li>
      </div>

      <li>
        <a routerLink="login" class="nav-link" *ngIf="!authService.isLoggedIn">
          {{ "HEADER.LOGIN" | translate }}
        </a>
      </li>

      <li>
        <a
          routerLink="register"
          class="nav-link"
          *ngIf="!authService.isLoggedIn"
        >
          {{ "HEADER.REGISTER" | translate }}
        </a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <button
          class="nav-link"
          (click)="logout()"
          [title]="'HEADER.LOGOUT' | translate"
        >
          <i class="fa fa-sign-out-alt"></i>
        </button>
      </li>

      <div class="lang-selector">
        <select
          class="language-dropdown"
          #langSelect
          (change)="changeLang(langSelect.value)"
        >
          <option value="en" [selected]="isCurrentLang('en')">English</option>
          <option value="uk" [selected]="isCurrentLang('uk')">
            Українська
          </option>
          <option value="ar" [selected]="isCurrentLang('ar')">العربية</option>
        </select>
      </div>
    </ul>
  </nav>
</header>
<router-outlet />
