<header [ngClass]="router.url === '/' ? 'home-header' : ''">
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Tradio</a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a
          class="nav-link"
          routerLink="/services"
          routerLinkActive="active"
          title="Services"
        >
          <i class="fa fa-th-large"></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a
          class="nav-link"
          routerLink="/chats"
          routerLinkActive="active"
          title="Chats"
        >
          <i class="fa fa-comments"></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a
          class="nav-link"
          routerLink="/my-services"
          routerLinkActive="active"
          title="My services"
        >
          <i class="fa fa-user"></i>
        </a>
      </li>

      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a
          class="nav-link"
          routerLink="/create-service"
          routerLinkActive="active"
          title="Create service"
        >
          <i class="fa fa-plus-circle"></i>
        </a>
      </li>

      <div *ngIf="userModel$ | async as userModel">
        <li class="nav-item">
          {{ userModel.creditCount }} <i class="fa fa-coins"></i>
        </li>
      </div>

      <div *ngIf="userModel$ | async as userModel">
        <li class="nav-item">
          {{ userModel.fullname }}
        </li>
      </div>

      <li>
        <a routerLink="login" class="nav-link" *ngIf="!authService.isLoggedIn"
          >Login</a
        >
      </li>

      <li>
        <a
          routerLink="register"
          class="nav-link"
          *ngIf="!authService.isLoggedIn"
          >Register</a
        >
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <button class="nav-link" (click)="logout()" title="Log out">
          <i class="fa fa-sign-out-alt"></i>
        </button>
      </li>
    </ul>
  </nav>
</header>
<router-outlet />
