.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  margin: auto auto auto auto;
}

.form-group {
  margin: 0px auto 0px auto;
}

.form-header {
  text-align: center;
}

.auth-illustration {
  width: 1000px;
}

input {
  border-radius: 10px;
  height: 30px;
  border-color: transparent;
  margin: 1rem;
}

.btn-form {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
